<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- NOTE: Do NOT remove or change the first three items, they are needed by the automated scripts! -->
    <package id="7zip.portable" />
    <package id="sysinternals" />
    <package id="chocolatey" />
    <!-- Customize this list below for your desired applications, check Chocolatey.org to search for apps. -->
    <package id="git" packageParameters="/GitOnlyOnPath /NoAutoCrlf /WindowsTerminal /NoShellIntegration" />
    <package id="which" />
    <package id="vlc" />
    <package id="googlechrome" />
</packages>
