<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- Customize this list below for your desired applications, check chocolatey.org to search for apps. -->
    <package id="7zip.portable" />
    <package id="sysinternals" />
    <package id="chocolatey" />
    <package id="git" packageParameters="/GitOnlyOnPath /NoAutoCrlf /WindowsTerminal /NoShellIntegration" />
    <package id="which" />
    <package id="vlc" />
    <package id="googlechrome" />
</packages>

